# Assignment 2

## - https://www.cdc.gov/nchs/nhis/nhis_2015_data_release.htm

## 1. Import sqlalchemy and pandas, and create the connection to MySQL database "PHC7065" (10 pts)

## 2. Import the 2015 NHIS Person File (personsx.csv) and Injury Episode File (injpoiep.csv) as Pandas dataframes (10 pts)

## 3. Check the imported datasets by printing out the top 5 rows (5 pts)

## 4. Keep only the first 50 columns in the dataframe 'person' and delete all the other columns. Hint: use the "drop" function. E.g. df.drop(...) (10 pts)

## 5. Export these two dataframes to MySQL database 'PHC7065' and name them as 'Person' and 'Injury'. There should be only 50 columns in the table "Person" (10 pts)

## 6. Print out the first 5 rows in the tables "Person" and "Injury". You must use SQL to get the results.  (5 pts)

## 7. Write a SQL query to calculate the total number of injury episodes for each individual (create a new column "nInjury" to store the results), and save the results to a pandas dataframe "nInjury". The dataframe should also include the identifiers (HHX, FMX, FPX) (10 pts)

## 8. Export the pandas dataframe "nInjury" to MySQL database "PHC7065" as a table with the name "nInjury" (5 pts)

## 9. Merge nInjury to Person, and keep the columns "SEX", "nInjury", and all identifiers (HHX, FMX, FPX). Save the merged file as a pandas dataframe with the name "personInjury". Note: the table "Person" should have the same number of rows as the dataframe "personInjury"  (10 pts)

## 10. Use 0 to replace the missing value of the column "nInjury" in the dataframe "personInjury" (since only individuals with at least 1 injury/poison episode are included in the Injury dataset) (10 pts)

## 11. Export the pandas dataframe "personInjury" to MySQL database "PHC7065" as a table, and name it as "PersonInjury" (5 pts)

## 12. Write a SQL query to get the average, minimum, and maximum number of injury/poison episodes by SEX (10 pts)