# MongoDB Part 1

In [1]:
from pymongo import MongoClient

In [2]:
# Create a MongoClient against the running mongod instance
client = MongoClient('localhost:27017')
# client = MongoClient('localhost',27017)
# client = MongoClient('mongodb://localhost:27017/')

In [3]:
# Accessing a database
# MongoDB creates new databases implicitly upon their first use (lazy creation)
mydb = client.phc7065
# mydb = client['phc7065']

In [4]:
# Accessing a collection
# MongoDB call a group of documents stored in it as a collection. It is the equivalent of a table in a RDMBS
my_collection = mydb.Students
# my_collection = mydb['Students']

In [5]:
# Documents in dictionary
student1 = {"_id":1,
            "name": "John",
            "age":20,
            "courses": ["a","b","c"]
           }
student2 = {"_id":2,
            "name": "Mike",
            "age":23,
            "courses": ["b","a","c"]
           }
student3 = {"_id":3,
            "name": "Tom",
            "age":19,
            "courses": ["c","b","a"]
           }
student4 = {"_id":4,
            "name": "Joe",
            "age":19,
            "courses": ["d","e"]
           }

In [6]:
mydb.Students.drop()
# Document Insert
mydb.Students.insert_one(student1)
mydb.Students.insert_one(student2)
mydb.Students.insert_one(student3)
mydb.Students.insert_one(student4)

In [8]:
for student in mydb.Students.find():
    print student

{u'courses': [u'a', u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'b', u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}
{u'courses': [u'c', u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}
{u'courses': [u'd', u'e'], u'age': 19, u'_id': 4, u'name': u'Joe'}

In [9]:
mydb.Students2.drop()
# Document Insert
mydb.Students2.insert_many([student1,student2,student3,student4])

In [10]:
for student in mydb.Students2.find():
    print student

{u'courses': [u'a', u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'b', u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}
{u'courses': [u'c', u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}
{u'courses': [u'd', u'e'], u'age': 19, u'_id': 4, u'name': u'Joe'}

In [25]:
mydb.collection_names()

[u'Students2', u'Students']

In [11]:
for student in mydb.Students.find({},{'age':1,'_id':0}):
    print student

{u'age': 20}
{u'age': 23}
{u'age': 19}
{u'age': 19}

In [12]:
for student in mydb.Students.find({'age':20},{'age':1,'name':1}):
    print student

{u'age': 20, u'_id': 1, u'name': u'John'}

In [13]:
 mydb.Students.distinct('age')

[20, 23, 19]

In [14]:
for student in mydb.Students.find({'age':19},{'age':1,'name':1}).distinct('age'):
    print student

19

In [15]:
for student in mydb.Students.find({'age':{'$gte':20}},{'age':1,'name':1}):
    print student

{u'age': 20, u'_id': 1, u'name': u'John'}
{u'age': 23, u'_id': 2, u'name': u'Mike'}

In [16]:
import re
regx = re.compile("^joh",re.IGNORECASE)
mydb.Students.find_one({'name':regx})

{u'_id': 1, u'age': 20, u'courses': [u'a', u'b', u'c'], u'name': u'John'}

In [17]:
import re
regx = re.compile("e$",re.IGNORECASE)
mydb.Students.find_one({'name':regx})

{u'_id': 2, u'age': 23, u'courses': [u'b', u'a', u'c'], u'name': u'Mike'}

In [18]:
import re
regx = re.compile("^j.*n$",re.IGNORECASE)
mydb.Students.find_one({'name':regx})

{u'_id': 1, u'age': 20, u'courses': [u'a', u'b', u'c'], u'name': u'John'}

In [19]:
for student in mydb.Students.find({'courses':{'$in':['a','b']}}):
    print student

{u'courses': [u'a', u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'b', u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}
{u'courses': [u'c', u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}

In [20]:
for student in mydb.Students.find({'courses':{'$nin':['a','b']}}):
    print student

{u'courses': [u'd', u'e'], u'age': 19, u'_id': 4, u'name': u'Joe'}

In [21]:
for student in mydb.Students.find({},{'courses':{'$slice':[1,2]}}):
    print student

{u'courses': [u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}
{u'courses': [u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}
{u'courses': [u'e'], u'age': 19, u'_id': 4, u'name': u'Joe'}

In [22]:
for student in mydb.Students.find({},{'courses':{'$slice':-2}}):
    print student

{u'courses': [u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}
{u'courses': [u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}
{u'courses': [u'd', u'e'], u'age': 19, u'_id': 4, u'name': u'Joe'}

In [23]:
for student in mydb.Students.find({'courses.1':'b'}):
    print student

{u'courses': [u'a', u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'c', u'b', u'a'], u'age': 19, u'_id': 3, u'name': u'Tom'}

In [24]:
for student in mydb.Students.find({
                                    '$and':[
                                        {
                                            '$or':[
                                                {'age':20},
                                                {'age':23}
                                            ]
                                        },
                                        {
                                            '$or':[
                                                {'courses.1':'a'},
                                                {'courses.1':'b'}
                                            ]
                                        }
                                    ]
                                }):
    print student

{u'courses': [u'a', u'b', u'c'], u'age': 20, u'_id': 1, u'name': u'John'}
{u'courses': [u'b', u'a', u'c'], u'age': 23, u'_id': 2, u'name': u'Mike'}

In [26]:
import pandas as pd
cursor = mydb.Students.find({},{'courses':{'$slice':-2}})
pd.DataFrame(list(cursor))